<!DOCTYPE html>
<html>
<head>
	<title>ControlRequest</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%=render :partial => 'shared/menu_top' %>

	<div class="container-fluid">
		<div class="row-fluid">


			<%=render :partial => 'shared/sidebar' %>


			<div class="span9">
				<%= yield %>

				<script type="text/javascript">
				$(document).ready(function() {
					$('.dropdown-menu li a').hover(
						function() {
							$(this).children('i').addClass('icon-white');
						},
						function() {
							$(this).children('i').removeClass('icon-white');
						});

					if($(window).width() > 760)
					{
						$('tr.list-users td div ul').addClass('pull-right');
					}
				});
				</script>

			</div>

		</div>
	</div>

</body>
</html>
